/* 
Theme Name: PMH 2026
Theme URI: https://pacificmindhealth.com
Template: astra
Description: Astra child theme, custom overrides
Author: John Sutkowski, Fernando Jimenez
Version: 1.0.0
*/

/* Test: deployment connection verified */
